body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }


  
  .emoji {
    display: grid;
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
    margin: 10px;
   
  }

  .emojis {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-areas: 
    "box1  box2"
    "box3  box4";

  }
  
  .div:nth-child(1){
      grid-area: box1;
  }

  .div:nth-child(2){
    grid-area: box2;
}

  .div:nth-child(3){
    grid-area: box3;
}

  .div:nth-child(4){
    grid-area: box4;
}
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .icon {
    font-size: 4rem;
    order: -1;
  }

  .emoji {
      display:grid;
      grid-template-rows: 2 / span 2;
    }