body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
  }


  
  .emoji {
    /* display: grid; */
    display: flex; 
   /*  flex-wrap: wrap; */
    
    flex-direction: column;
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
    margin: 10px;  
    justify-content: space-evenly;
    
   
  }

  .emojis {
    /* width: 900px;
    height: 600px; */
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "box1  box2"
    "box3  box4";
    grid-template-rows: 1fr 1fr;
    gap: 10px;

  }
  
  .div:nth-child(1){
      grid-area: box1;
  }

  .div:nth-child(2){
    grid-area: box2;
}

  .div:nth-child(3){
    grid-area: box3;
}

  .div:nth-child(4){
    grid-area: box4;
    
    
}
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    text-align: left;
    
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    text-decoration: none;
    padding: 1rem;
    border-radius: 8px;
    /* width: auto; */
  }
  
  .icon {
    /* font-size: 4rem;
    align-self: center;
    order: -1; */

    display: flex;
    flex-direction: row;
    font-size: 4rem;
    order: -1;
    justify-content: center; 
  }

  

